{% extends "base.html" %}
{% block content %}
    <div class="main_menu">
        <!--a href="/validate_g10" class="menu_btn" target="_blank">Валидация моделей g10</a-->
        <a href="/validate_g5" class="menu_btn" target="_blank">Валидация моделей g5</a>
        <a href="/manual_input" class="menu_btn" target="_blank">Пользовательский ввод</a>
        <!--a href="/generate_test_case" class="menu_btn" target="_blank">Generate Test Case</a-->
        <!--a href="/generate_for_analysis" class="menu_btn" target="_blank">Generate Dataset for Analysis</a>
        <a href="/analysis" class="menu_btn" target="_blank">Datasets Analysis</a-->
        <!--a href="/clean_dataset" class="menu_btn" target="_blank">Clear Dataset</a-->
    </div>
{% endblock %}